.tile td {
	padding: 0;
}
.event-name {
	width: 240px !important;
	font-size: 18px;
}
.event-name:valid {
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #E74C3C 96%) no-repeat scroll -240px 0px / 200px 100% transparent !important;
}
.new-order {
	width: 100%;
	font-size: 18px;
	padding: 18px;
	text-align: center;
}
.container--hcenter {
	justify-content: center;
}
.ad {
	width: 728px;
	height: 89px;
	margin: 0 auto;
}
main {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
section {
	flex: 1;
}
.form-group {
	margin-bottom: 24px;
}
.pizza-type {
	margin-bottom: 2px !important;
}
.pizza-type:last-child {
	margin-bottom: 8px !important;
}
/* Fix some weird Surface quirks */
label {
	display: block;
	margin-top: 8px;
}
input[type="checkbox"] {
	margin: 0 12px 0 0;
	vertical-align: baseline;
}
ul {
	list-style-type: square;
}
nav ul {
	list-style-type: none;
}