{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>How2Pizza</title>
	<link rel="stylesheet" href="{% static 'css/surface_styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<meta name="viewport" content="width=device-width; initial-scale=1, maximum-scale=1">
</head>
<body>
	<main class="g--12 m--0 no-margin-vertical">
		<header class="container--baseline container--wrap-m">
			<h1 class="g--8 m--1 g-m--10 m-m--1">{% block header %}How2Pizza{% endblock header %}</h1>
			<input type="checkbox" id="nav--horizontal-responsive">
			<label for="nav--horizontal-responsive">MENU</label>
			<nav class="g--2 g-m--12 nav--horizontal">
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Support</a></li>
				</ul>
			</nav>
		</header>
		<section>
		{% block content %}
		{% endblock content %}
		<div class="container--hcenter">
			<img class="ad fade-in-from-bottom anim-delay--10" src="https://lh6.ggpht.com/41LFWBytPnxKsfZf6mivs6ba7qdOBtfk9-7MzWSMqwC3IFOvaXd8rejFiyeXKfBOK16mMEopeA=w320">
		</div>
		</section>
		<footer class="container--wrap no-margin-vertical">
			<div class="g--10 m--1 color--white">
				Copyright &copy; 2015 <a href="https://ianonavy.com/">Ian Adam Naval</a>.
			</div>
		</footer>
	</main>
	<script src="{% static 'main.js' %}"></script>
</body>
</html>