{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>How2Pizza</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<style type="text/css">
		.aligner {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100vh;
		}
		.main {
			max-width: 960px;
			max-height: 100%;
		}
		.types {
			margin-bottom: 8px;
		}
	</style>
</head>
<body>
	<div class="aligner">
		<div class="main">
			<h1>{% block header %}How2Pizza{% endblock header %}</h1>
{% block content %}
{% endblock content %}
		</div>
	</div>
	<script src="{% static 'main.js' %}"></script>
</body>
</html>