{% extends 'pizza/base.html' %}

{% block content %}
		<div class="g--10 m--1">
			<h2 class="fade-in-from-top">Because ordering pizza is hard sometimes.</h2>
		</div>
		<div class="g--10 m--1 container container--hcenter fade-in-from-bottom">
			<form action="{% url 'new_order' %}" method="POST">
				{% csrf_token %}
				<input class="event-name" type="text" placeholder="Event Name (optional)" maxlength="36" name="name">
				<input class="btn--raised btn--primary new-order" type="submit" value="New Order">
			</form>
		</div>
		<div class="g--10 m--1 container container--wrap--s">
			<div class="g--4 g-s--12 fade-in-from-bottom card anim-delay--5">
				<h3>Simple</h3>
				<p>Click a button and share the link. No accounts. No fuss.</p>
			</div>
			<div class="g--4 g-s--12 fade-in-from-bottom anim-delay--5 card nudge--left nudge--right no-nudge--s">
				<h3>Sexy</h3>
				<p>Modern look built on Google's Material Design.</p>
			</div>
			<div class="g--4 g-s--12 fade-in-from-bottom anim-delay--5 card">
				<h3>Smart</h3>
				<p>Auto-completes with your friends suggestions.</p>
			</div>
		</div>
{% endblock content %}