{% extends 'pizza/base.html' %}

{% block header %}Sample Pizza Party{% endblock header %}


{% block content %}
<section>
	<div class="row">
		<div class="col-md-5">
			<label>What other people want:</label>
			<ul class="list-group">
				<li class="list-group-item">cheese, pepperoni, hawaiian</li>
			</ul>
		</div>
		<div class="col-md-4">
			<form class="form well" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label for="name">What is your name?</label>
					<input id="name" class="form-control" type="text" placeholder="John">
				</div>
				<div class="form-group">
					<label for="types">Pick your pizza:</label>
					<div class="types">
						<div class="input-group types">
							<input name="types[]" class="form-control" type="text">
							<span class="input-group-btn">
								<button class="add-type btn btn-default" type="button">+</button>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<input class="form-control btn btn-primary" type="submit" value="Submit">
				</div>
			</form>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label>How many people can one pizza feed?</label>
				<input type="text" id="people-per-pizza" value="3" class="form-control">
			</div>
			<label>You should buy:</label>
			<ul>
				<li>1 cheese</li>
			</ul>
		</div>
	</div>
</section>
{% endblock content %}
