{% extends 'pizza/base.html' %}

{% block header %}Sample Pizza Party{% endblock header %}

{% block content %}
		<div class="g--10 m--1 container container--wrap--m">
			<div class="g--5 g-m--12 fade-in-from-left card">
				<h3>What they want:</h3>
				<table class="tile">
					<tr class="table-header">
						<td>Name</td>
						<td>Types</td>
					</tr>
					<tr>
						<td>Person 1</td>
						<td>cheese, pepperoni, hawaiian</td>
					</tr>
					<tr>
						<td>Person 2</td>
						<td>cheese, hawaiian</td>
					</tr>
					<tr>
						<td>Person 3</td>
						<td>cheese, veggie</td>
					</tr>
				</table>
			</div>
			<div class="g--3 g-m--12 fade-in-from-left card nudge--left nudge--right no-nudge--m">
				<h3>What you want:</h3>
				<form method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label for="name">What is your name?</label>
						<input id="name" type="text">
					</div>
					<div class="form-group">
						<label>Pick your pizza:</label>
						<label><input type="checkbox">cheese</label>
						<label><input type="checkbox">hawaiian</label>
						<label><input type="checkbox">pepperoni</label>
						<label><input type="checkbox">veggie</label>
					</div>
					<div class="form-group">
						<label>Or add your own:</label>
						<div id="types-list">
							<input name="types[]" type="text" class="pizza-type">
						</div>
						<a id="add-pizza" href="#">Add another</a>
					</div>
					<input class="btn--raised btn--primary" type="submit" value="Submit">
				</form>
			</div>
			<div class="g--4 g-m--12 fade-in-from-left card">
				<h3>What to order:</h3>
				<label for="people-per-pizza">How many people per pizza?</label>
				<input type="text" id="people-per-pizza" value="3" class="form-control">
				<label>You should buy:</label>
				<ul>
					<li>1 cheese</li>
				</ul>
			</div>
		</div>
{% endblock content %}
