{% extends 'pizza/base.html' %}

{% block title %}How2Pizza{% if order.name %} | {{ order.name }}{% endif %}{% endblock %}
{% block header %}{% if order.name %}{{ order.name }}{% else %}{% endif %}{% endblock %}

{% block content %}
		<div class="g--10 m--1">
			You can share this page with friends via <a href="mailto:?subject=Pizza for {{ order.name }}&amp;body=Hi all,%0A%0AI'm ordering pizza. Please visit {{ request.build_absolute_uri }} and fill out your preferences so we can add you to the head count.%0A%0AThanks,">email</a> or by just directing them to this URL.
		</div>
		<div class="g--10 m--1 container container--wrap--m">
			<div class="g--5 g-m--12 fade-in-from-left card">
				<h3>What they want:</h3>
				{% if order.user_choices.all %}
				<table id="user-choices" class="tile">
					<thead>
						<tr class="table-header">
							<th>Name</th>
							<th>Types</th>
						</tr>
					</thead>
					<tbody>
						{% for choice in order.user_choices.all %}
						<tr class="user-choice">
							<td>{{ choice.name }}</td>
							<td>{{ choice.get_types_as_csv }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% else %}
				Your friends have not yet submitted their preferences. Be the first!
				{% endif %}
			</div>
			<div class="g--3 g-m--12 fade-in-from-left card nudge--left nudge--right no-nudge--m">
				<h3>What you want:</h3>
				<form method="POST">
					{% csrf_token %}
					<div class="form-group">
						<label for="name">What is your name?</label>
						<input id="name" type="text" name="name" required{% if name %} value="{{ name }}" {% endif %} maxlength="24">
					</div>
					<div class="form-group">
						<label>Check all the ones you want:</label>
						<div id="existing-types">
							{% for pizza_type in order.get_pizza_types %}
							<label><input name="types[]" type="checkbox" value="{{ pizza_type }}"{% if user_choice and pizza_type in user_choice.get_pizza_types %}checked{% endif %}>{{ pizza_type }}</label>
							{% endfor %}
						</div>
					</div>
					<div class="form-group">
						<label>Or add your own:</label>
						<div id="types-list">
							<input name="types[]" type="text" class="pizza-type" maxlength="24">
						</div>
						<a id="add-pizza" href="#">Add another</a>
					</div>
					<input class="btn--raised btn--primary" type="submit" value="Submit">
					<button id="reset-form" class="btn--raised btn--secondary">Reset</button>
				</form>
			</div>
			<div class="g--4 g-m--12 fade-in-from-left card">
				<h3>What to order:</h3>
				<label for="people-per-pizza">How many people per pizza?</label>
				<input type="text" id="people-per-pizza" value="3" class="form-control">
				<label>You should buy:</label>
				<ul id="pizza-list">
				</ul>
			</div>
		</div>
{% endblock content %}
